<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c4068636-8dbd-4803-96e8-16141ed7fa68" name="GetUser" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c4068636-8dbd-4803-96e8-16141ed7fa68fileName">GetUser</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="GetUser.json">
    <con:part>
      <con:url>GetUser.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"GetUser","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/api/v1/user/{id}":{"description":"","get":{"description":"","responses":{"default":{"description":"Default response"}}},"put":{"description":"","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{}}},"responses":{"default":{"description":"Default response"}}},"post":{"description":"","requestBody":{"content":{"application/json":{}}},"responses":{"default":{"description":"Default response"}}},"delete":{"description":"","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{}}},"responses":{"default":{"description":"Default response"}}},"parameters":[{"name":"id","in":"path","required":true}]}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>https://www.test-insurance.com</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="4c23f13a-1549-4669-8293-16e9832728e8">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
